@{
    ViewBag.Title = "Home Page";
}
<div id="hero-2" class="hero-2 owl-carousel owl-theme">
                <div class="item">
                        <a href="http://so9.wlthemes.com/?s=">
                            <img src="~/images/banner1.jpg" class="img-fluid " alt="image">
                        </a>
                </div>
                <div class="item">
                        <a href="http://so9.wlthemes.com/?s=">
                            <img src="~/images/banner2.jpg" class="img-fluid " alt="image">
                        </a>
                </div>
</div>

<h4 class="mb-5 title-bar"> <i class="fa fa-folder-open-o" aria-hidden="true"></i> All Categories</h4>
<div class="cat-item-wrapper d-none d-sm-none d-md-block">
    <div class="row">
        <div class="col-md-4">
            <div class="cat-item1 bg-light">
                <a href="http://so9.wlthemes.com/listing-category/audio-multimedia/">
                    <div class="icon bg-primary">
                        <img src="~/images/c1.jpg" class="img-fluid">
                    </div>
                    <div class="content bg-secondary">
                        <h6 class="text-white font-weight-bold">Audio &amp; Multimedia</h6>
                        <span class="bg-danger text-white">2</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="cat-item1 bg-light">
                <a href="http://so9.wlthemes.com/listing-category/business/">
                    <div class="icon bg-primary">
                        <img src="~/images/c2.jpg" class="img-fluid">
                    </div>
                    <div class="content bg-secondary">
                        <h6 class="text-white font-weight-bold">Business</h6>
                        <span class="bg-danger text-white">2</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="cat-item1 bg-light">
                <a href="http://so9.wlthemes.com/listing-category/communications/">
                    <div class="icon bg-primary">
                        <img src="~/images/c3.jpg" class="img-fluid">
                    </div>
                    <div class="content bg-secondary">
                        <h6 class="text-white font-weight-bold">Communications</h6>
                        <span class="bg-danger text-white">1</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="cat-item1 bg-light">
                <a href="http://so9.wlthemes.com/listing-category/desktop/">
                    <div class="icon bg-primary">
                        <img src="~/images/c4.jpg" class="img-fluid">
                    </div>
                    <div class="content bg-secondary">
                        <h6 class="text-white font-weight-bold">Desktop</h6>
                        <span class="bg-danger text-white">2</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="cat-item1 bg-light">
                <a href="http://so9.wlthemes.com/listing-category/development/">
                    <div class="icon bg-primary">
                        <img src="~/images/c5.jpg" class="img-fluid">
                    </div>
                    <div class="content bg-secondary">
                        <h6 class="text-white font-weight-bold">Development</h6>
                        <span class="bg-danger text-white">0</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="cat-item1 bg-light">
                <a href="http://so9.wlthemes.com/listing-category/education/">
                    <div class="icon bg-primary">
                        <img src="~/images/c6.jpg" class="img-fluid">
                    </div>
                    <div class="content bg-secondary">
                        <h6 class="text-white font-weight-bold">Education</h6>
                        <span class="bg-danger text-white">1</span>
                    </div>
                </a>
            </div>
        </div>
    </div>

</div>


<div class="wlt_sellspace home1">
    <a href="http://so9.wlthemes.com/advertising/?selladd=1&amp;ad=home1">
        <div class="sellspace_banner banner_700_90 text-center hidden-xs hidden-sm">
            <div class="title">Advertise Here</div> <div class="pricing">view pricing</div>
        </div>
    </a>
</div>

<div class="cat-item-wrapper">
    <div class="row">
        <div class="col-md-4 col-12">
            <div class="cat-item2 bg-light">
                <a href="http://so9.wlthemes.com/listing-category/games-entertainment/">
                    <div class="content">
                        <h6 class="text-dark font-weight-bold">
                            <span class="float-left">Games &amp; Entertainment</span>
                            <span class="float-right countb text-light px-2">0</span>
                        </h6>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-12">
            <div class="cat-item2 bg-light">
                <a href="http://so9.wlthemes.com/listing-category/graphic-apps/">
                    <div class="content">
                        <h6 class="text-dark font-weight-bold">
                            <span class="float-left">Graphic Apps</span>
                            <span class="float-right countb text-light px-2">0</span>
                        </h6>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-12">
            <div class="cat-item2 bg-light">
                <a href="http://so9.wlthemes.com/listing-category/home-hobby/">
                    <div class="content">
                        <h6 class="text-dark font-weight-bold">
                            <span class="float-left">Home &amp; Hobby</span>
                            <span class="float-right countb text-light px-2">0</span>
                        </h6>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-12">
            <div class="cat-item2 bg-light">
                <a href="http://so9.wlthemes.com/listing-category/network-internet/">
                    <div class="content">
                        <h6 class="text-dark font-weight-bold">
                            <span class="float-left">Network &amp; Internet</span>
                            <span class="float-right countb text-light px-2">0</span>
                        </h6>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-12">
            <div class="cat-item2 bg-light">
                <a href="http://so9.wlthemes.com/listing-category/security-privacy/">
                    <div class="content">
                        <h6 class="text-dark font-weight-bold">
                            <span class="float-left">Security &amp; Privacy</span>
                            <span class="float-right countb text-light px-2">2</span>
                        </h6>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-12">
            <div class="cat-item2 bg-light">
                <a href="http://so9.wlthemes.com/listing-category/servers/">
                    <div class="content">
                        <h6 class="text-dark font-weight-bold">
                            <span class="float-left">Servers</span>
                            <span class="float-right countb text-light px-2">4</span>
                        </h6>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-12">
            <div class="cat-item2 bg-light">
                <a href="http://so9.wlthemes.com/listing-category/system-utilities/">
                    <div class="content">
                        <h6 class="text-dark font-weight-bold">
                            <span class="float-left">System Utilities</span>
                            <span class="float-right countb text-light px-2">1</span>
                        </h6>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-12">
            <div class="cat-item2 bg-light">
                <a href="http://so9.wlthemes.com/listing-category/web-development/">
                    <div class="content">
                        <h6 class="text-dark font-weight-bold">
                            <span class="float-left">Web Development</span>
                            <span class="float-right countb text-light px-2">0</span>
                        </h6>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-12">
            <div class="cat-item2 bg-light">
                <a href="http://so9.wlthemes.com/listing-category/other-2/">
                    <div class="content">
                        <h6 class="text-dark font-weight-bold">
                            <span class="float-left">Other</span>
                            <span class="float-right countb text-light px-2">0</span>
                        </h6>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="clearfix mt-3"></div>

<a href="http://so9.wlthemes.com/?s=" class="float-right btn-viewall mr-3">View All <i class="fa fa-chevron-right ml-3" aria-hidden="true"></i></a>

<h4 class="mb-5 title-bar"><i class="fa fa-check-square-o" aria-hidden="true"></i> Recently Added</h4>

<div class="software-item clearfix border mb-4">
    <div class="p-3">
        <div class="image">
            <a href="http://so9.wlthemes.com/listing/ebook/" class="wlt_image_link"><img src="V9%20%E2%80%93%20SOFTWARE%20DOWNLOAD%20THEME_files/johari-300x169.png" alt="johari.png" data-src="http://so9.wlthemes.com/wp-content/uploads/sites/67/2019/12/johari-300x169.png" class="wlt_image img-fluid"></a>
        </div>
        <div class="content">
            <div class="event-date-wrapper bg-secondary text-white float-right shadow" style="width:80px;">
                <div class="event-month">Rating</div>
                <div class="event-day">0<span class="small ">/ 5</span></div>
            </div>
            <h3 class="h5 font-weight-bold"><a href="http://so9.wlthemes.com/listing/ebook/">ebook</a></h3>
            <div class="text-dark small">

                Added Dec 06th under <u><span class="wlt_shortcode_category "><a href="http://so9.wlthemes.com/listing-category/education/">Education</a></span></u>

            </div>
            <span class="wlt_shortcode_excerpt"></span>...
            <div></div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="bg-light pr-2 pt-2 mt-2 border-top">
        <div class="row">
            <div class="col-md-9 col-sm-6 col-12 pr-0">
                <ul class="list-inline mt-2 flex-list">

                    <li class="list-inline-item bg-light border-0">
                        <i class="fa fa-shopping-basket h6"></i>
                        <span class="font-weight-bold h6">$10</span>
                    </li>

                    <li class="list-inline-item"> <i class="fa fa-download"></i> 2 Downloads</li>
                    <li class="list-inline-item">
                        <i class="fa fa-comment" aria-hidden="true"></i> 0 Comments
                    </li>
                    <li class="list-inline-item last"><i class="fa fa-bar-chart-o"></i> Viewed 17 times</li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 pl-lg-0 col-12">
                <div class="btn-group btn-block mt-2">
                    <a class="btn btn-secondary br" href="http://so9.wlthemes.com/listing/ebook/"><i class="fa fa-search text-white" style="width:16px; height:20px"></i></a>
                    <a class="btn btn-block btn-secondary d-none d-sm-none d-md-none d-lg-block" href="http://so9.wlthemes.com/listing/ebook/">View Details</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="software-item clearfix border mb-4">
    <div class="p-3">
        <div class="image">
            <a href="http://so9.wlthemes.com/listing/sample-download-5/" class="wlt_image_link"><img src="V9%20%E2%80%93%20SOFTWARE%20DOWNLOAD%20THEME_files/14.jpg" alt="" data-src="https://www.premiumpress.com/_demoimages/softwaretheme/14.jpg" class="wlt_image img-fluid"></a>
        </div>
        <div class="content">
            <div class="event-date-wrapper bg-secondary text-white float-right shadow" style="width:80px;">
                <div class="event-month">Rating</div>
                <div class="event-day">5<span class="small ">/ 5</span></div>
            </div>
            <h3 class="h5 font-weight-bold"><a href="http://so9.wlthemes.com/listing/sample-download-5/">Sample Download</a></h3>
            <div class="text-dark small">

                Added Feb 05th under <u><span class="wlt_shortcode_category "><a href="http://so9.wlthemes.com/listing-category/desktop/">Desktop</a></span></u>

            </div>
            <span class="wlt_shortcode_excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempus eleifend risus ut congue. Pellentesque nec lacu</span>...
            <div></div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="bg-light pr-2 pt-2 mt-2 border-top">
        <div class="row">
            <div class="col-md-9 col-sm-6 col-12 pr-0">
                <ul class="list-inline mt-2 flex-list">

                    <li class="list-inline-item bg-light border-0">
                        <i class="fa fa-shopping-basket h6"></i>
                        <span class="font-weight-bold h6">$2,967</span>
                    </li>

                    <li class="list-inline-item"> <i class="fa fa-download"></i> 174 Downloads</li>
                    <li class="list-inline-item">
                        <i class="fa fa-comment" aria-hidden="true"></i> 1 Comments
                    </li>
                    <li class="list-inline-item last"><i class="fa fa-bar-chart-o"></i> Viewed 1,084 times</li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 pl-lg-0 col-12">
                <div class="btn-group btn-block mt-2">
                    <a class="btn btn-secondary br" href="http://so9.wlthemes.com/listing/sample-download-5/"><i class="fa fa-search text-white" style="width:16px; height:20px"></i></a>
                    <a class="btn btn-block btn-secondary d-none d-sm-none d-md-none d-lg-block" href="http://so9.wlthemes.com/listing/sample-download-5/">View Details</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="software-item clearfix border mb-4">
    <div class="p-3">
        <div class="image">
            <a href="http://so9.wlthemes.com/listing/sample-download-4/" class="wlt_image_link"><img src="V9%20%E2%80%93%20SOFTWARE%20DOWNLOAD%20THEME_files/13.jpg" alt="" data-src="https://www.premiumpress.com/_demoimages/softwaretheme/13.jpg" class="wlt_image img-fluid"></a>
        </div>
        <div class="content">
            <div class="event-date-wrapper bg-secondary text-white float-right shadow" style="width:80px;">
                <div class="event-month">Rating</div>
                <div class="event-day">3.8<span class="small ">/ 5</span></div>
            </div>
            <h3 class="h5 font-weight-bold"><a href="http://so9.wlthemes.com/listing/sample-download-4/">Sample Download</a></h3>
            <div class="text-dark small">

                Added Feb 05th under <u><span class="wlt_shortcode_category "><a href="http://so9.wlthemes.com/listing-category/system-utilities/">System Utilities</a></span></u>

            </div>
            <span class="wlt_shortcode_excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempus eleifend risus ut congue. Pellentesque nec lacu</span>...
            <div></div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="bg-light pr-2 pt-2 mt-2 border-top">
        <div class="row">
            <div class="col-md-9 col-sm-6 col-12 pr-0">
                <ul class="list-inline mt-2 flex-list">

                    <li class="list-inline-item bg-light border-0">
                        <i class="fa fa-shopping-basket h6"></i>
                        <span class="font-weight-bold h6">$607</span>
                    </li>

                    <li class="list-inline-item"> <i class="fa fa-download"></i> 66 Downloads</li>
                    <li class="list-inline-item">
                        <i class="fa fa-comment" aria-hidden="true"></i> 1 Comments
                    </li>
                    <li class="list-inline-item last"><i class="fa fa-bar-chart-o"></i> Viewed 511 times</li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 pl-lg-0 col-12">
                <div class="btn-group btn-block mt-2">
                    <a class="btn btn-secondary br" href="http://so9.wlthemes.com/listing/sample-download-4/"><i class="fa fa-search text-white" style="width:16px; height:20px"></i></a>
                    <a class="btn btn-block btn-secondary d-none d-sm-none d-md-none d-lg-block" href="http://so9.wlthemes.com/listing/sample-download-4/">View Details</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="software-item clearfix border mb-4">
    <div class="p-3">
        <div class="image">
            <a href="http://so9.wlthemes.com/listing/sample-download-3/" class="wlt_image_link"><img src="V9%20%E2%80%93%20SOFTWARE%20DOWNLOAD%20THEME_files/12.jpg" alt="" data-src="https://www.premiumpress.com/_demoimages/softwaretheme/12.jpg" class="wlt_image img-fluid"></a>
        </div>
        <div class="content">
            <div class="event-date-wrapper bg-secondary text-white float-right shadow" style="width:80px;">
                <div class="event-month">Rating</div>
                <div class="event-day">4.8<span class="small ">/ 5</span></div>
            </div>
            <h3 class="h5 font-weight-bold"><a href="http://so9.wlthemes.com/listing/sample-download-3/">Sample Affiliate Link</a></h3>
            <div class="text-dark small">

                Added Feb 05th under <u><span class="wlt_shortcode_category "><a href="http://so9.wlthemes.com/listing-category/audio-multimedia/">Audio &amp; Multimedia</a></span></u>

            </div>
            <span class="wlt_shortcode_excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempus eleifend risus ut congue. Pellentesque nec lacu</span>...
            <div></div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="bg-light pr-2 pt-2 mt-2 border-top">
        <div class="row">
            <div class="col-md-9 col-sm-6 col-12 pr-0">
                <ul class="list-inline mt-2 flex-list">

                    <li class="list-inline-item bg-light border-0">
                        <i class="fa fa-shopping-basket h6"></i>
                        <span class="font-weight-bold h6">$4,203</span>
                    </li>

                    <li class="list-inline-item"> <i class="fa fa-download"></i> 257 Downloads</li>
                    <li class="list-inline-item">
                        <i class="fa fa-comment" aria-hidden="true"></i> 1 Comments
                    </li>
                    <li class="list-inline-item last"><i class="fa fa-bar-chart-o"></i> Viewed 913 times</li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 pl-lg-0 col-12">
                <div class="btn-group btn-block mt-2">
                    <a class="btn btn-secondary br" href="http://so9.wlthemes.com/listing/sample-download-3/"><i class="fa fa-search text-white" style="width:16px; height:20px"></i></a>
                    <a class="btn btn-block btn-secondary d-none d-sm-none d-md-none d-lg-block" href="http://so9.wlthemes.com/listing/sample-download-3/">View Details</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="software-item clearfix border mb-4">
    <div class="p-3">
        <div class="image">
            <a href="http://so9.wlthemes.com/listing/sample-download-2/" class="wlt_image_link"><img src="V9%20%E2%80%93%20SOFTWARE%20DOWNLOAD%20THEME_files/11.jpg" alt="" data-src="https://www.premiumpress.com/_demoimages/softwaretheme/11.jpg" class="wlt_image img-fluid"></a>
        </div>
        <div class="content">
            <div class="event-date-wrapper bg-secondary text-white float-right shadow" style="width:80px;">
                <div class="event-month">Rating</div>
                <div class="event-day">0<span class="small ">/ 5</span></div>
            </div>
            <h3 class="h5 font-weight-bold"><a href="http://so9.wlthemes.com/listing/sample-download-2/">Sample Download</a></h3>
            <div class="text-dark small">

                Added Feb 05th under <u><span class="wlt_shortcode_category "><a href="http://so9.wlthemes.com/listing-category/servers/">Servers</a></span></u>

            </div>
            <span class="wlt_shortcode_excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempus eleifend risus ut congue. Pellentesque nec lacu</span>...
            <div></div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="bg-light pr-2 pt-2 mt-2 border-top">
        <div class="row">
            <div class="col-md-9 col-sm-6 col-12 pr-0">
                <ul class="list-inline mt-2 flex-list">

                    <li class="list-inline-item bg-light border-0">
                        <i class="fa fa-shopping-basket h6"></i>
                        <span class="font-weight-bold h6">$2,338</span>
                    </li>

                    <li class="list-inline-item"> <i class="fa fa-download"></i> 35 Downloads</li>
                    <li class="list-inline-item">
                        <i class="fa fa-comment" aria-hidden="true"></i> 0 Comments
                    </li>
                    <li class="list-inline-item last"><i class="fa fa-bar-chart-o"></i> Viewed 336 times</li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 pl-lg-0 col-12">
                <div class="btn-group btn-block mt-2">
                    <a class="btn btn-secondary br" href="http://so9.wlthemes.com/listing/sample-download-2/"><i class="fa fa-search text-white" style="width:16px; height:20px"></i></a>
                    <a class="btn btn-block btn-secondary d-none d-sm-none d-md-none d-lg-block" href="http://so9.wlthemes.com/listing/sample-download-2/">View Details</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="software-item clearfix border mb-4">
    <div class="p-3">
        <div class="image">
            <a href="http://so9.wlthemes.com/listing/sample-download/" class="wlt_image_link"><img src="V9%20%E2%80%93%20SOFTWARE%20DOWNLOAD%20THEME_files/10.jpg" alt="" data-src="https://www.premiumpress.com/_demoimages/softwaretheme/10.jpg" class="wlt_image img-fluid"></a>
        </div>
        <div class="content">
            <div class="event-date-wrapper bg-secondary text-white float-right shadow" style="width:80px;">
                <div class="event-month">Rating</div>
                <div class="event-day">0<span class="small ">/ 5</span></div>
            </div>
            <h3 class="h5 font-weight-bold"><a href="http://so9.wlthemes.com/listing/sample-download/">Sample Download</a></h3>
            <div class="text-dark small">

                Added Feb 05th under <u><span class="wlt_shortcode_category "><a href="http://so9.wlthemes.com/listing-category/business/">Business</a></span></u>

            </div>
            <span class="wlt_shortcode_excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempus eleifend risus ut congue. Pellentesque nec lacu</span>...
            <div></div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="bg-light pr-2 pt-2 mt-2 border-top">
        <div class="row">
            <div class="col-md-9 col-sm-6 col-12 pr-0">
                <ul class="list-inline mt-2 flex-list">

                    <li class="list-inline-item bg-light border-0">
                        <i class="fa fa-shopping-basket h6"></i>
                        <span class="font-weight-bold h6">$3,152</span>
                    </li>

                    <li class="list-inline-item"> <i class="fa fa-download"></i> 118 Downloads</li>
                    <li class="list-inline-item">
                        <i class="fa fa-comment" aria-hidden="true"></i> 0 Comments
                    </li>
                    <li class="list-inline-item last"><i class="fa fa-bar-chart-o"></i> Viewed 584 times</li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 pl-lg-0 col-12">
                <div class="btn-group btn-block mt-2">
                    <a class="btn btn-secondary br" href="http://so9.wlthemes.com/listing/sample-download/"><i class="fa fa-search text-white" style="width:16px; height:20px"></i></a>
                    <a class="btn btn-block btn-secondary d-none d-sm-none d-md-none d-lg-block" href="http://so9.wlthemes.com/listing/sample-download/">View Details</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="software-item clearfix border mb-4">
    <div class="p-4">
        <div class="image">
            <a href="http://so9.wlthemes.com/listing/f-secure-anti-virus/" class="wlt_image_link"><img src="V9%20%E2%80%93%20SOFTWARE%20DOWNLOAD%20THEME_files/9.jpg" alt="" data-src="https://www.premiumpress.com/_demoimages/softwaretheme/9.jpg" class="wlt_image img-fluid"></a>
        </div>
        <div class="content">
            <div class="event-date-wrapper bg-secondary text-white float-right shadow" style="width:80px;">
                <div class="event-month">Rating</div>
                <div class="event-day">0<span class="small ">/ 5</span></div>
            </div>
            <h3 class="h5 font-weight-bold"><a href="http://so9.wlthemes.com/listing/f-secure-anti-virus/">F-Secure Anti-Virus</a></h3>
            <div class="text-dark small">

                Added Feb 05th under <u><span class="wlt_shortcode_category "><a href="http://so9.wlthemes.com/listing-category/security-privacy/">Security &amp; Privacy</a></span></u>

            </div>
            <span class="wlt_shortcode_excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempus eleifend risus ut congue. Pellentesque nec lacu</span>...
            <div></div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="bg-light pr-2 pt-2 mt-2 border-top">
        <div class="row">
            <div class="col-md-9 col-sm-6 col-12 pr-0">
                <ul class="list-inline mt-2 flex-list">

                    <li class="list-inline-item bg-light border-0">
                        <i class="fa fa-shopping-basket h6"></i>
                        <span class="font-weight-bold h6">$1,504</span>
                    </li>

                    <li class="list-inline-item"> <i class="fa fa-download"></i> 10 Downloads</li>
                    <li class="list-inline-item">
                        <i class="fa fa-comment" aria-hidden="true"></i> 0 Comments
                    </li>
                    <li class="list-inline-item last"><i class="fa fa-bar-chart-o"></i> Viewed 275 times</li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 pl-lg-0 col-12">
                <div class="btn-group btn-block mt-2">
                    <a class="btn btn-secondary br" href="http://so9.wlthemes.com/listing/f-secure-anti-virus/"><i class="fa fa-search text-white" style="width:16px; height:20px"></i></a>
                    <a class="btn btn-block btn-secondary d-none d-sm-none d-md-none d-lg-block" href="http://so9.wlthemes.com/listing/f-secure-anti-virus/">View Details</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="software-item clearfix border mb-4">
    <div class="p-3">
        <div class="image">
            <a href="http://so9.wlthemes.com/listing/early-detection-center/" class="wlt_image_link"><img src="V9%20%E2%80%93%20SOFTWARE%20DOWNLOAD%20THEME_files/8.jpg" alt="" data-src="https://www.premiumpress.com/_demoimages/softwaretheme/8.jpg" class="wlt_image img-fluid"></a>
        </div>
        <div class="content">
            <div class="event-date-wrapper bg-secondary text-white float-right shadow" style="width:80px;">
                <div class="event-month">Rating</div>
                <div class="event-day">5<span class="small ">/ 5</span></div>
            </div>
            <h3 class="h5 font-weight-bold"><a href="http://so9.wlthemes.com/listing/early-detection-center/">Early Detection Center</a></h3>
            <div class="text-dark small">

                Added Feb 05th under <u><span class="wlt_shortcode_category "><a href="http://so9.wlthemes.com/listing-category/audio-multimedia/">Audio &amp; Multimedia</a></span></u>

            </div>
            <span class="wlt_shortcode_excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempus eleifend risus ut congue. Pellentesque nec lacu</span>...
            <div></div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="bg-light pr-2 pt-2 mt-2 border-top">
        <div class="row">
            <div class="col-md-9 col-sm-6 col-12 pr-0">
                <ul class="list-inline mt-2 flex-list">

                    <li class="list-inline-item bg-light border-0">
                        <i class="fa fa-shopping-basket h6"></i>
                        <span class="font-weight-bold h6">$2,610</span>
                    </li>

                    <li class="list-inline-item"> <i class="fa fa-download"></i> 202 Downloads</li>
                    <li class="list-inline-item">
                        <i class="fa fa-comment" aria-hidden="true"></i> 1 Comments
                    </li>
                    <li class="list-inline-item last"><i class="fa fa-bar-chart-o"></i> Viewed 932 times</li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 pl-lg-0 col-12">
                <div class="btn-group btn-block mt-2">
                    <a class="btn btn-secondary br" href="http://so9.wlthemes.com/listing/early-detection-center/"><i class="fa fa-search text-white" style="width:16px; height:20px"></i></a>
                    <a class="btn btn-block btn-secondary d-none d-sm-none d-md-none d-lg-block" href="http://so9.wlthemes.com/listing/early-detection-center/">View Details</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="software-item clearfix border mb-4">
    <div class="p-3">
        <div class="image">
            <a href="http://so9.wlthemes.com/listing/total-defense-anti-virus/" class="wlt_image_link"><img src="V9%20%E2%80%93%20SOFTWARE%20DOWNLOAD%20THEME_files/7.jpg" alt="" data-src="https://www.premiumpress.com/_demoimages/softwaretheme/7.jpg" class="wlt_image img-fluid"></a>
        </div>
        <div class="content">
            <div class="event-date-wrapper bg-secondary text-white float-right shadow" style="width:80px;">
                <div class="event-month">Rating</div>
                <div class="event-day">0<span class="small ">/ 5</span></div>
            </div>
            <h3 class="h5 font-weight-bold"><a href="http://so9.wlthemes.com/listing/total-defense-anti-virus/">Total Defense Anti-Virus</a></h3>
            <div class="text-dark small">

                Added Feb 05th under <u><span class="wlt_shortcode_category "><a href="http://so9.wlthemes.com/listing-category/security-privacy/">Security &amp; Privacy</a></span></u>

            </div>
            <span class="wlt_shortcode_excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempus eleifend risus ut congue. Pellentesque nec lacu</span>...
            <div></div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="bg-light pr-2 pt-2 mt-2 border-top">
        <div class="row">
            <div class="col-md-9 col-sm-6 col-12 pr-0">
                <ul class="list-inline mt-2 flex-list">

                    <li class="list-inline-item bg-light border-0">
                        <i class="fa fa-shopping-basket h6"></i>
                        <span class="font-weight-bold h6">$1,800</span>
                    </li>

                    <li class="list-inline-item"> <i class="fa fa-download"></i> 8 Downloads</li>
                    <li class="list-inline-item">
                        <i class="fa fa-comment" aria-hidden="true"></i> 0 Comments
                    </li>
                    <li class="list-inline-item last"><i class="fa fa-bar-chart-o"></i> Viewed 274 times</li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 pl-lg-0 col-12">
                <div class="btn-group btn-block mt-2">
                    <a class="btn btn-secondary br" href="http://so9.wlthemes.com/listing/total-defense-anti-virus/"><i class="fa fa-search text-white" style="width:16px; height:20px"></i></a>
                    <a class="btn btn-block btn-secondary d-none d-sm-none d-md-none d-lg-block" href="http://so9.wlthemes.com/listing/total-defense-anti-virus/">View Details</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="software-item clearfix border mb-4">
    <div class="p-3">
        <div class="image">
            <a href="http://so9.wlthemes.com/listing/escan-anti-virus/" class="wlt_image_link"><img src="V9%20%E2%80%93%20SOFTWARE%20DOWNLOAD%20THEME_files/6.jpg" alt="" data-src="https://www.premiumpress.com/_demoimages/softwaretheme/6.jpg" class="wlt_image img-fluid"></a>
        </div>
        <div class="content">
            <div class="event-date-wrapper bg-secondary text-white float-right shadow" style="width:80px;">
                <div class="event-month">Rating</div>
                <div class="event-day">0<span class="small ">/ 5</span></div>
            </div>
            <h3 class="h5 font-weight-bold"><a href="http://so9.wlthemes.com/listing/escan-anti-virus/">eScan Anti-Virus</a></h3>
            <div class="text-dark small">

                Added Feb 05th under <u><span class="wlt_shortcode_category "><a href="http://so9.wlthemes.com/listing-category/servers/">Servers</a></span></u>

            </div>
            <span class="wlt_shortcode_excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempus eleifend risus ut congue. Pellentesque nec lacu</span>...
            <div></div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="bg-light pr-2 pt-2 mt-2 border-top">
        <div class="row">
            <div class="col-md-9 col-sm-6 col-12 pr-0">
                <ul class="list-inline mt-2 flex-list">

                    <li class="list-inline-item bg-light border-0">
                        <i class="fa fa-shopping-basket h6"></i>
                        <span class="font-weight-bold h6">$4,563</span>
                    </li>

                    <li class="list-inline-item"> <i class="fa fa-download"></i> 17 Downloads</li>
                    <li class="list-inline-item">
                        <i class="fa fa-comment" aria-hidden="true"></i> 0 Comments
                    </li>
                    <li class="list-inline-item last"><i class="fa fa-bar-chart-o"></i> Viewed 215 times</li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 pl-lg-0 col-12">
                <div class="btn-group btn-block mt-2">
                    <a class="btn btn-secondary br" href="http://so9.wlthemes.com/listing/escan-anti-virus/"><i class="fa fa-search text-white" style="width:16px; height:20px"></i></a>
                    <a class="btn btn-block btn-secondary d-none d-sm-none d-md-none d-lg-block" href="http://so9.wlthemes.com/listing/escan-anti-virus/">View Details</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clearfix mt-4"></div>